/target
etc/system-contracts/.yarn
etc/system-contracts/node_modules
etc/system-contracts/contracts-preprocessed
etc/system-contracts/cache-zk
etc/system-contracts/artifacts-zk
etc/system-contracts/typechain
etc/system-contracts/.yarnrc.yml
etc/system-contracts/bootloader/build

etc/**/*.zbin
.idea

*.log
.cache

zkout/
cache/
example.json
state.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
