# Build directories
/target
etc/**/build


etc/system-contracts/cache-zk
etc/system-contracts/artifacts-zk
etc/system-contracts/typechain-types

# VSCode s
etc/**/*.zbin
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Yarn rules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/node_modules